body {
    background-color: #858F93;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    font-family: Sans;
}

section {
    flex: 1;
    height: 100vh;
    position: relative;
}

.label--big {
    font-size: 2em;
    color: white;
    margin-bottom: 1em;
}

.input--big {
    background-color: #022531;
    border: 5px #ACFF24 solid;
    font-size: 2em;
    color: white;
    width: 30%;
    padding: 0.5em;
    text-align: center;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.button--big {
    background-color: #ACFF24;
    border: none;
    font-size: 2em;
    color: #022531;
    padding: 1em;
    border-radius: 0.5em;
    margin-top: 1em;
}

section:first-child {
    border-right: 5px #ACFF24 dashed;
}
